.ensembleListes {
	display: flex;
	justify-content: center;
    text-align: center;
	flex-direction: row;
	flex-wrap: nowrap;
}

.liste {
    border: #FF4900 solid;
    display: block;
    margin: 0.2em auto;
    width: 30%;
    font-family: arial;
    text-align: center;
}

.cat_nom {
    border-bottom: 3px #FF4900 solid;
    font-weight: bold;
}

.cat_desc {
    font-weight: bold;
}

a:link, a:visited {
	font-family: Arial;
	font-weight: bold;
	color: black;
}

#affListeItem {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 30%;
    margin: 1.5%;
    text-align: center;
}

h2 {
    text-align: center;
}