.ensembleListes {
	display: flex;
	justify-content: center;
    text-align: center;
	flex-direction: row;
	flex-wrap: nowrap;
}

.liste {
    margin: 0.2em auto;
    width: 30%;
    font-family: arial;
    text-align: center;
}

.cat_nom {
    font-weight: bold;
	margin-bottom: 10%;
    color: white;
}

.cat_desc {
    font-weight: bold;
    color: white;
}

a:link, a:visited {
	font-family: Arial;
	font-weight: bold;
	color: black;
    text-decoration: none;
}

#affListeItem {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 30%;
    margin: 1.5%;
    text-align: center;
}

h2 {
    text-align: center;
}

#bouton{
	height: 200px;
	width:100%;
	margin: 10%;
	border-radius: 10%;
	border: none;
	background-color: #7dffe5;
    padding: 4px 4px 4px 4px;
    border-radius: 5px;
    background: linear-gradient(#cccccc, #7dffe5);
    font: bold 13px Arial;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
}

body{
	height:100%;
}
