form {
	width: 600px;
    border: 1px #7dffe5 solid;
    background-color: #7dffe5;
    padding: 10px;
    margin: auto;
}

form label {
	width: 400px;
	display: inline-block;
	margin-bottom: 10px;
}

form input {
	margin-bottom: 10px;
}

form input[type="submit"] {
	margin: auto;
	margin-top: 25px;
	display: block;
}