html {
	height: 100%;
	width: 99.6%;
}

body {
	min-height: 100%;
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow-x: hidden;
}

header {
	background-color: #797979; 
	border-width: 25px; 
	border-color: #797979; 
	border-style: solid;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	margin: auto;
	color: white;
	font-weight: bold;
	font-family: Arial;
	display: flex;
	align-items: center;
}

nav {
	border-top-width: 0;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	margin: auto;
	margin-bottom: 10px;
	border-bottom-left-radius: 0%;
	border-bottom-right-radius: 0%;
	font-size : 1em;
}

#titre a {
	color: white;
	text-decoration: none;
}

#titre {
	width: 275px;
}

#menu {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
}

#menu .li {
	display: inline-block;
	background-color: #F9A660; 
	text-align: center;
	margin: 0px;
	padding: 10px;
	border-radius: 15px;
	font-size: 1em;
	margin-right: 100px;
}

#menu a {
	width: 100%;
	display: block;
	text-decoration: none;
}

#menu div:active {
	background-color: #FBFB5B;
}

footer {
	background-color: #797979; 
	border: 3px #797979 solid;
	width: 100%;
}

footer ul {
	list-style-type: none;
	text-align: right;
	margin: 0;
}

#auteur {
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	font-size: 1em;
	margin: 1%;
	color: #FFFFFF;
}