#resa td {
    border: 2px solid black;
    font-weight: bold;
    padding: 15px 25px;
    text-align: center;
}

#resa {
    border-collapse: collapse;
    margin: auto;
}

#resa tr td:first-child {
    text-align: center;
}

#resa tr td:last-child {
    text-align: right;
}

#resa th.day {
	border-right: 2px solid black;
	padding-bottom: 15px;
	padding-top: 15px;
}
#resa th.day:last-child {
	border-right-width: 0px;
}

#resa th.hour {
	padding-right: 15px;
	border-bottom: 2px solid black;
	padding-left: 15px;
}
#resa th.hour:last-child {
	border-bottom-width: 0px;
}

#resa .dispo {
	background-color: #7dffe5;
}

#resa .indispo {
	background-color: #ff957d;
}